.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.Field {
  outline: none;
  border: 1px solid #CCC;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  box-sizing: border-box;
}

select.Field {
  width: 191px;
}

.Field:focus {
  outline: none;
  background-color: #CCC;
}

.Invalid {
  border: 1px solid red;
  background-color: salmon;
}
